* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 85%;
}

body {
  background-color: #f8f3f0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

section {
  margin-bottom: auto;
  height: 100%;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: "Quattrocento", serif;
}

h1 {
  font-size: 2.5rem;
  color: #1f4045;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

p {
  line-height: 1.8rem;
}

.handle {
  width: 90%;
  margin: 0 auto;
  max-width: 800px;
}

@media screen and (max-width: 480px) {
  .hide-s {
    display: none !important;
  }
}

@media only screen and (min-width: 480px) and (max-width: 960px) {
  .hide-m {
    display: none !important;
  }
  .handle {
    width: 80%;
  }
}

@media screen and (min-width: 960px) {
  .hide-l {
    display: none !important;
  }
  .handle {
    width: 80%;
  }
}

@media screen and (min-width: 601px) {
  html {
    font-size: 95%;
  }
}

@media only screen and (max-height: 800px) and (max-width: 1100px) {
  html {
    font-size: 85%;
  }
}

[class*="btn-"] {
  text-decoration: none;
  outline: none;
  border-style: none;
  display: inline-block;
  font-family: "Quattrocento", serif;
  font-size: 1.1rem;
  padding: 1rem 2.5rem;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn-1 {
  color: #ffffff;
  background-color: #c09a85;
}

.btn-1:hover {
  background-color: #1f4045;
}

.btn-2 {
  color: #1f4045;
  background-color: #ffffff;
}

.btn-2:hover {
  color: #ffffff;
  background-color: #c9c1b4;
}

.btn-inactive {
  color: #ffffff;
  background-color: #9B9DA0;
  pointer-events: none;
}

form label {
  display: block;
  margin-bottom: 0.4rem;
}

form span {
  color: #ff6347;
}

form .fieldset {
  margin-bottom: 5vh;
  width: 100%;
}

form input {
  vertical-align: middle;
}

form input[type="text"], form input[type="email"], form input[type="password"], form input[type="date"], form input[type="time"], form input[type="url"], form select, form textarea {
  display: block;
  width: 100%;
  border: none;
  padding: 0.8rem 0.5rem;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

form input[type="radio"] {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

form .option {
  margin-bottom: 0.8rem;
}

form select {
  cursor: pointer;
}

form textarea {
  line-height: 1.4rem;
  max-height: 30vh;
  min-height: 30vh;
  max-width: 100%;
  min-width: 100%;
}

form input:focus {
  border: 2px solid #c9c1b4;
  outline: 0;
}

form select:focus {
  border: 2px solid #c9c1b4;
  outline: 0;
}

form textarea:focus {
  border: 2px solid #c9c1b4;
  outline: 0;
}

form .submit {
  text-align: right;
}

form .error .errorMsg {
  display: block;
  color: #ff6347;
  margin-top: 0.8vh;
}

form .error input[type="text"] {
  border: 2px solid #ff6347;
}

form .error input[type="email"] {
  border: 2px solid #ff6347;
}

form .error input[type="password"] {
  border: 2px solid #ff6347;
}

form .error input[type="date"] {
  border: 2px solid #ff6347;
}

form .error input[type="time"] {
  border: 2px solid #ff6347;
}

form .error input[type="url"] {
  border: 2px solid #ff6347;
}

form .error select {
  border: 2px solid #ff6347;
}

form .error textarea {
  border: 2px solid #ff6347;
}

form .errorMsg {
  display: none;
}

form .unmatched {
  background-color: #ff6347;
}

@media only screen and (min-width: 960px) {
  form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  form .half {
    width: 48.5%;
  }
  form .radioOptions {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  form .option {
    display: inline-block;
    width: 33.33%;
    margin-bottom: 0;
  }
}

.headerLogo {
  margin-top: 6vh;
  margin-bottom: 5vh;
  text-align: center;
}

.headerLogo img {
  width: 15rem;
}

@media only screen and (min-width: 480px) and (max-width: 960px) {
  .headerLogo img {
    width: 22rem;
  }
}

@media screen and (min-width: 960px) {
  .headerLogo img {
    width: 25rem;
  }
}

.headerNaviBar {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #f8f3f0;
  height: 10vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerNaviBar .handle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1000px;
}

.headerNaviBar .handle .naviIcons {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.headerNaviBar .handle .naviIcons a {
  display: block;
  text-decoration: none;
  color: #1f4045;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  margin-left: 1.2rem;
}

.headerNaviBar .handle .naviIcons a svg {
  width: 2rem;
}

@media screen and (min-width: 480px) {
  .headerNaviBar .handle .naviIcons a {
    margin-left: 1.3rem;
  }
  .headerNaviBar .handle .naviIcons a svg {
    width: 2.5rem;
  }
}

.headerNaviBar .handle .naviIcons a:hover {
  color: #c09a85;
}

.headerNaviBar .handle .logo {
  width: 50%;
}

.headerNaviBar .handle .logo img {
  width: 10rem;
}

.naviFooter {
  width: 100%;
  margin-top: 5vh;
  margin-bottom: 6vh;
}

.naviFooter .handle {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.naviFooter .handle .copyright {
  font-family: "Quattrocento", serif;
  font-size: .9rem;
}

.naviFooter .handle a {
  font-family: "Quattrocento", serif;
  font-weight: 600;
  text-decoration: none;
  color: #1f4045;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  margin-left: 0.8rem;
}

.naviFooter .handle a svg {
  width: 2rem;
}

.naviFooter .handle a:hover {
  color: #c09a85;
}

.footer {
  padding-top: 10vh;
  padding-bottom: 6vh;
}

.footer .copyright {
  font-family: "Quattrocento", serif;
  font-size: .9rem;
}
/*# sourceMappingURL=common.css.map */