//This file contains the CSS styles for the elements common to all pages.

@import "variables"; //refer to "_variables.scss" file


* {
    box-sizing: border-box;
}

html { 
    font-family: $font_1;
    font-size: $fontSize_mb; 
}

body { 
    background-color: $color_5;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5 { font-family: $font_2; }

h1 { 
    font-size: $fontSize_h1; 
    color: $color_3;
}

h2 { font-size: $fontSize_h2; }
h3 { font-size: $fontSize_h3; }
h4 { font-size: $fontSize_h4; }
h5 { font-size: $fontSize_h5; }
p { line-height: 1.8rem;}

.handle {
    width: 90%;
    margin: 0 auto;
    max-width: $maxWidth;
}

@media screen and (max-width: $width_mb) {  
	.hide-s { display: none!important; }
}

@media only screen and (min-width: $width_mb) and (max-width: $width_pc) {  
    .hide-m { display: none!important; }
    .handle { width: 80%; } 
}

@media screen and (min-width: $width_pc) {  
    .hide-l { display: none!important; }
    .handle { width: 80%; } 
}

@media screen and (min-width: 601px) { 
	html { font-size: $fontSize_pc; } 
}

@media only screen and (max-height: 800px) and (max-width: 1100px) {  
	html { font-size: $fontSize_mb; } 
}

[class*="btn-"] {
	text-decoration: none;
    outline: none;
    border-style: none;
    display: inline-block;
    font-family: $font_2;
	font-size: 1.1rem;
    padding: 1rem 2.5rem;
	transition: $transition_hover; 
}

.btn-1 { 
	color: $white;
    background-color: $color_1; 
}
.btn-1:hover { 
    background-color: $color_3; 
}
.btn-2 { 
	color: $color_3;
    background-color: $white; 
}
.btn-2:hover { 
    color: $white;
    background-color: $color_4;
}

.btn-inactive { 
    color: $white;
    background-color: #9B9DA0;
    pointer-events: none;
}

form {
    label {
        display: block;
        margin-bottom: 0.4rem;
    }
    span {
        color: $color_6;
    }
    .fieldset {
        margin-bottom: 5vh;
        width: 100%;
    }
    input {
        vertical-align: middle;
    }
    input[type="text"], input[type="email"], input[type="password"], input[type="date"], input[type="time"], input[type="url"], select, textarea {
        display: block;
        width: 100%;
        border: none;
        padding: 0.8rem 0.5rem;
        font-size: 1rem;
        font-family: $font_1;
    }
    input[type="radio"] {
        height: 1rem;
        width: 1rem;
        margin-right: 0.5rem;
        cursor: pointer;
    }
    .option {
        margin-bottom: 0.8rem;
    }
    select { 
        cursor: pointer;
    }
    textarea {
        line-height: 1.4rem;	
        max-height: 30vh;
        min-height: 30vh;
        max-width: 100%;
        min-width: 100%; 
    }
    input:focus {
        border: 2px solid $color_4;
        outline: 0;
    }
    select:focus {
        border: 2px solid $color_4;
        outline: 0;
    }
    textarea:focus {
        border: 2px solid $color_4;
        outline: 0;
    }
    .submit {
        text-align: right;
    }
    .error {
        .errorMsg {
            display: block;
            color: $color_6;
            margin-top: 0.8vh;
        }
        input[type="text"] {
            border: 2px solid $color_6;
        }
        input[type="email"] {
            border: 2px solid $color_6;
        }
        input[type="password"] {
            border: 2px solid $color_6;
        }
        input[type="date"] {
            border: 2px solid $color_6;
        }
        input[type="time"] {
            border: 2px solid $color_6;
        }
        input[type="url"] {
            border: 2px solid $color_6;
        }
        select {
            border: 2px solid $color_6;
        }
        textarea {
            border: 2px solid $color_6;
        }    
    }
    .errorMsg {
        display: none;
    }
    .unmatched {
        background-color: $color_6;
    }
}

@media only screen and (min-width: $width_pc) {
    form {
        display: flex;
        flex-wrap: wrap;
        .fieldset {
            padding: 0 0.5vw;
        }
        .half {
            width: 50%;
        }
        .radioOptions {
            display: flex;
        }
        .option {
            display: inline-block;
            width: 33.33%;
            margin-bottom: 0;
        }	
    }
}


// Header for Login & Register page ------
.headerLogo {
    margin-top: $margin_page;
    margin-bottom: 5vh;
    text-align: center;    
    img {
        width: 15rem;
        @media only screen and (min-width: $width_mb) and (max-width: $width_pc) {  
            width: 22rem; 
        }
        @media screen and (min-width: $width_pc) {  
            width: 25rem; 
        }
    }
}

// ------ Header for Login & Register page


// Header Navigation Bar ------

.headerNaviBar {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: $color_5;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .handle { 
        display: flex;
        align-items: center;
        max-width: 1000px;
        .naviIcons {
            width: 50%;
            display: flex;
            justify-content: flex-end;
            a {
                display: block;
                text-decoration: none;
                color: $color_3;
                transition: $transition_hover;
                margin-left: 1.2rem;
                svg {
                    width: 2rem;              
                }
                @media screen and (min-width: $width_mb) {  
                    margin-left: 1.3rem;
                    svg {
                        width: 2.5rem;
                    }                
                }      
            }
            a:hover {
                color: $color_1;
            }
        }
        .logo {
            width: 50%;
            img {
                width: 10rem;
            }
        }
    }
}

// ------ Header Navigation Bar

// Footer Navi Bar ------

.naviFooter {
    margin-top: 5vh;
    margin-bottom: $margin_page;
    .handle { 
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .copyright {
            font-family: $font_2;
            font-size: .9rem;
        }    
        a {
            font-family: $font_2;
            font-weight: 600;
            text-decoration: none;
            color: $color_3;
            transition: $transition_hover;
            margin-left: 0.8rem;
            svg {
                width: 2rem;
            }
        }
        a:hover {
            color: $color_1;
        }
    }
}


// ------ Footer Navi Bar


.footer {
    padding-top: 10vh;
    padding-bottom: $margin_page;
    .copyright {
        font-family: $font_2;
        font-size: .9rem;
    }
}