* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 90%;
}

body {
  background-color: #f8f3f0;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: "Quattrocento", serif;
}

h1 {
  font-size: 2.6rem;
  margin-bottom: 2.5vh;
  color: #1f4045;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 2vh;
}

h3 {
  font-size: 1.8rem;
  margin-bottom: 2vh;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 2vh;
}

h5 {
  font-size: 1.2rem;
  margin-bottom: 2vh;
}

.handle {
  width: 90%;
  margin: 0 auto;
  max-width: 1800px;
}

@media screen and (max-width: 480px) {
  .hide-s {
    display: none !important;
  }
}

@media only screen and (min-width: 480px) and (max-width: 960px) {
  .hide-m {
    display: none !important;
  }
  .handle {
    width: 80%;
  }
}

@media screen and (min-width: 960px) {
  .hide-l {
    display: none !important;
  }
  .handle {
    width: 80%;
  }
}

@media screen and (min-width: 601px) {
  html {
    font-size: 100%;
  }
}

@media only screen and (max-height: 800px) and (max-width: 1100px) {
  html {
    font-size: 90%;
  }
}

[class*="btn-"] {
  text-decoration: none;
  outline: none;
  border-style: none;
  display: inline-block;
  font-family: "Quattrocento", serif;
  font-size: 1.1rem;
  padding: 0.7rem 1.8rem;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn-1 {
  color: #ffffff;
  background-color: #c09a85;
}

.btn-1:hover {
  background-color: #1f4045;
}

.btn-2 {
  color: #1f4045;
  background-color: #ffffff;
}

.btn-2:hover {
  color: #ffffff;
  background-color: #c9c1b4;
}

form label {
  display: block;
  margin-bottom: 0.2rem;
}

form span {
  color: #ff6347;
}

form .fieldset {
  margin-bottom: 5vh;
  width: 100%;
}

form input {
  vertical-align: middle;
}

form input[type="text"], form input[type="email"], form input[type="password"], form select, form textarea {
  display: block;
  width: 100%;
  border: none;
  padding: 0.8rem 0.5rem;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

form input[type="radio"] {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

form .option {
  margin-bottom: 0.8rem;
}

form select {
  cursor: pointer;
}

form textarea {
  line-height: 1.4rem;
  max-height: 15vh;
  min-height: 15vh;
  max-width: 100%;
  min-width: 100%;
}

form input:focus {
  border: 2px solid #c9c1b4;
  outline: 0;
}

form select:focus {
  border: 2px solid #c9c1b4;
  outline: 0;
}

form textarea:focus {
  border: 2px solid #c9c1b4;
  outline: 0;
}

form .submit {
  text-align: right;
}

form .error .errorMsg {
  display: block;
  color: #ff6347;
  margin-top: 0.8vh;
}

form .error input[type="text"] {
  border: 2px solid #ff6347;
}

form .error input[type="email"] {
  border: 2px solid #ff6347;
}

form .error input[type="password"] {
  border: 2px solid #ff6347;
}

form .error select {
  border: 2px solid #ff6347;
}

form .errorMsg {
  display: none;
}

form .unmatched {
  background-color: #ff6347;
}

@media only screen and (min-width: 801px) {
  form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  form .fieldset {
    padding: 0 0.5vw;
  }
  form .half {
    width: 50%;
  }
  form .radioOptions {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  form .option {
    display: inline-block;
    width: 33.33%;
    margin-bottom: 0;
  }
}

.header {
  margin-top: 6vh;
  margin-bottom: 5vh;
  text-align: center;
}

.header .headerLogo {
  margin-bottom: 3vh;
}

.header .headerLogo img {
  width: 15rem;
}

@media only screen and (min-width: 480px) and (max-width: 960px) {
  .header .headerLogo img {
    width: 22rem;
  }
}

@media screen and (min-width: 960px) {
  .header .headerLogo img {
    width: 25rem;
  }
}

.footer {
  padding-top: 10vh;
  padding-bottom: 6vh;
}

.footer .copyright {
  font-family: "Quattrocento", serif;
  font-size: .9rem;
}
/*# sourceMappingURL=common.css.map */