//This file contains the individual CSS styles for each page.

@import "variables"; //refer to "_variables.scss" file


// Login & Register ---

#registerPage, #loginPage {
    .handle {
        max-width: 900px;
    }

}

.headerLogo {
    margin: 5vh 0;
    text-align: center;
    @media screen and (min-width: $width_pc) {  
        text-align: right;
    }
    img {
        width: 40vw;
        @media screen and (min-width: $width_pc) {  
            width: 15vw;
        }
    }
}

.registerForm {
    header {
        margin-bottom: 5vh;
    }
    .notice {
        span {
            font-family: $font_2;
            color: $color_3;
            font-size: 1.4rem;
            font-weight: bold;
        }
        a {
            font-family: $font_2;
            color: $color_1;
            font-size: 1.2rem;
            font-weight: bold;
        }
        a:hover {
            color: $color_3;
        }
    }
}

// --- Login & Register 




