#registerPage {
    form {
        .error {
            .errorMsg {
                display: block;
                color: hotpink;
            }
        }
        .errorMsg {
            display: none;
        }
        .unmatched {
            background-color: hotpink;
        }
    }
}

#spaceForm {
    form {
        .error {
            .errorMsg {
                display: block;
                color: hotpink;
            }
        }
        .errorMsg {
            display: none;
        }
        .unmatched {
            background-color: hotpink;
        }
    }
}