#registerPage .headerLogo, #loginPage .headerLogo {
  margin-top: 6vh;
  margin-bottom: 7vh;
  text-align: center;
}

@media screen and (min-width: 960px) {
  #registerPage .headerLogo, #loginPage .headerLogo {
    text-align: right;
  }
}

#registerPage .headerLogo img, #loginPage .headerLogo img {
  width: 40vw;
  max-width: 200px;
}

@media screen and (min-width: 960px) {
  #registerPage .headerLogo img, #loginPage .headerLogo img {
    width: 15vw;
  }
}

#registerPage .loginErrorMsg, #loginPage .loginErrorMsg {
  margin-bottom: 5vh;
  color: #ff6347;
  font-family: "Quattrocento", serif;
  font-size: 1.4rem;
  font-weight: bold;
}

#registerPage .registerForm header, #loginPage .registerForm header {
  margin-bottom: 8vh;
}

#registerPage .registerForm header h1, #loginPage .registerForm header h1 {
  margin-bottom: 3vh;
}

#registerPage .registerForm .notice span, #loginPage .registerForm .notice span {
  font-family: "Quattrocento", serif;
  color: #1f4045;
  font-size: 1.4rem;
  font-weight: bold;
}

#registerPage .registerForm .notice a, #loginPage .registerForm .notice a {
  font-family: "Quattrocento", serif;
  color: #c09a85;
  font-size: 1.2rem;
  font-weight: bold;
}

#registerPage .registerForm .notice a:hover, #loginPage .registerForm .notice a:hover {
  color: #1f4045;
}

#dashboard .categoryForm {
  width: 100%;
}

#dashboard .categoryForm .fieldset {
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#dashboard .categoryForm .fieldset select {
  max-width: 20rem;
}

#dashboard section {
  margin-top: 15vh;
}

#dashboard .createOwnSpace {
  margin-bottom: 5vh;
}

#dashboard .createOwnSpace .container {
  background-color: #1f4045;
  text-align: center;
  border-radius: 3rem;
  padding: 2.5rem;
}

#dashboard .createOwnSpace .container h2 {
  color: #ffffff;
  margin-bottom: 2vh;
  font-size: 1.8rem;
}

#dashboard .createOwnSpace .container p {
  color: #ffffff;
  margin-bottom: 2vh;
}

@media screen and (min-width: 480px) {
  #dashboard .createOwnSpace .container {
    padding: 3rem;
  }
  #dashboard .createOwnSpace .container h2 {
    font-size: 2.2rem;
  }
}

#dashboard .spaceList {
  margin-bottom: 10vh;
}

#dashboard .spaceList .spaceCard {
  background-color: #ffffff;
  border-radius: 3rem;
  border: 3px solid #c9c1b4;
  padding: 2.5rem;
  margin-bottom: 5vh;
}

#dashboard .spaceList .spaceCard .title {
  margin-bottom: 3vh;
}

#dashboard .spaceList .spaceCard .title h3 {
  margin-bottom: 2vh;
}

#dashboard .spaceList .spaceCard .title p {
  font-size: 1.2rem;
}

#dashboard .spaceList .spaceCard .description {
  margin-bottom: 3vh;
}

#dashboard .spaceList .spaceCard .info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#dashboard .spaceList .spaceCard .info div {
  width: 100%;
}

#dashboard .spaceList .spaceCard .info div h4 {
  font-weight: bold;
  margin-bottom: 1vh;
}

#dashboard .spaceList .spaceCard .info div .time {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

#dashboard .spaceList .spaceCard .info div .time p:nth-child(1) {
  padding-right: 2rem;
}

#dashboard .spaceList .spaceCard .info .button {
  margin-top: 3vh;
}

@media screen and (min-width: 960px) {
  #dashboard .spaceList .spaceCard {
    padding: 3rem;
  }
  #dashboard .spaceList .spaceCard .info .text {
    width: 60%;
  }
  #dashboard .spaceList .spaceCard .info .text .time {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  #dashboard .spaceList .spaceCard .info .button {
    width: 40%;
    text-align: right;
  }
}

#dashboard .createSpaceIcon a {
  text-decoration: none;
  color: #1f4045;
  position: fixed;
  bottom: 15vh;
  right: 5vw;
}

#dashboard .createSpaceIcon a svg {
  width: 3rem;
}

@media screen and (min-width: 480px) {
  #dashboard .createSpaceIcon a svg {
    width: 4rem;
  }
}

@media only screen and (min-width: 480px) and (max-width: 960px) {
  #dashboard .createSpaceIcon a {
    right: 10vw;
  }
}

@media only screen and (min-width: 960px) and (max-width: 1439px) {
  #dashboard .createSpaceIcon a {
    right: 4vw;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1679px) {
  #dashboard .createSpaceIcon a {
    right: 15vw;
  }
}

@media only screen and (min-width: 1680px) and (max-width: 1919px) {
  #dashboard .createSpaceIcon a {
    right: 20vw;
  }
}

@media only screen and (min-width: 1920px) and (max-width: 2559px) {
  #dashboard .createSpaceIcon a {
    right: 25vw;
  }
}

@media screen and (min-width: 2560px) {
  #dashboard .createSpaceIcon a {
    right: 30vw;
  }
}

#createSpace section {
  margin-top: 15vh;
}

#createSpace h1 {
  margin-bottom: 8vh;
}

#createSpace form .fieldset label {
  font-size: 1.2rem;
  font-weight: 500;
}

#createSpace form .fieldset p {
  font-size: 0.8rem;
}

#createSpace form .fieldset p a {
  color: #1f4045;
  font-weight: 500;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

#createSpace form .fieldset p a:hover {
  color: #c09a85;
}

#accountInfo section {
  margin-top: 15vh;
  margin-bottom: 10vh;
}

#accountInfo header {
  margin-bottom: 10vh;
}

#accountInfo header h1 {
  margin-bottom: 2vh;
}

#accountInfo form label {
  font-size: 1.2rem;
  font-weight: 600;
}

#accountInfo form input[type="text"], #accountInfo form input[type="email"], #accountInfo form input[type="password"], #accountInfo form input[type="date"], #accountInfo form select {
  background-color: #f8f3f0;
  padding-left: 0;
}

#accountInfo form input:focus {
  border: none;
}

#accountInfo form .btn-1 {
  background-color: #c09a85;
}

#accountInfo form .btn-1:hover {
  background-color: #1f4045;
}

#editAccountInfo section {
  margin-top: 15vh;
  margin-bottom: 10vh;
}

#editAccountInfo header {
  margin-bottom: 10vh;
}

#editAccountInfo header h1 {
  margin-bottom: 2vh;
}
/*# sourceMappingURL=style.css.map */